# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/build
next-env.d.ts
.swc/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# PWA files
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map

# IDE e editores
.idea/
.vscode/
*.swp
*.swo
*~
.directory
Thumbs.db

# Arquivos de ambiente
.env
.env.*
!.env.example

# Arquivos de cache
.npm
.eslintcache
.cache/
.parcel-cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diretórios de cobertura de teste
.nyc_output/

# Docker volumes
docker-volumes/

# Arquivos temporários
.idea/
.vscode/
*.swp
*.swo
*~
.directory
Thumbs.db

# Arquivos específicos do TypeORM
ormconfig.json
migrations/
schema.gql

# Arquivos gerados NestJS
/backend/dist
/backend/src/schema.gql

# Arquivos gerados Next.js
/frontend/out/
/frontend/.swc/ 